<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ToDo List</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>

  <h1>ToDo List</h1>

  <div ng-controller="TodoController">
    <input type="text" ng-model="newTodo" /> <button ng-click="addTodo()">Ajouter</button>

    <ul>
      <li ng-repeat="todo in todoList">
        <span ng-show="todo.done">&#x2713;</span><span ng-hide="todo.done">&#xd7;</span> {{ todo.title }}
        <button ng-click="todo.done = true">Ok</button> <button ng-click="removeTodo(todo)">Supprimer</button>
      </li>
    </ul>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="app.js"></script>
</body>
</html>
